.header-logo {
  padding-top: 7%;
  padding-bottom: 7%;
  /*background-color: #0d0d0d;*/
}

.title {
  width: 40%;
  margin-bottom: 32px;
}

.store-button {
  width: 152px;
}

.gap-24 {
  gap: 24px;
}
